.benefits {
  position: relative;
  background: #313131;
  padding-top: 56px;
  padding-bottom: 56px;
  @include response(1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &__box {
    position: relative;
  }
  &__title {
    position: relative;
    margin-bottom: 48px;
    color: $yellow;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    @include response(1200px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: -24px;
    flex-wrap: wrap;
    @include response(1200px) {
      display: block;
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 32px;
    }
  }
  &__item {
    position: relative;
    flex: 0 0 calc(33.333% - 24px);
    max-width: calc(33.333% - 24px);
    width: 100%;
    margin-left: 24px;
    margin-bottom: 48px;
    display: flex;
    align-items: flex-start;
    @include response(1200px) {
      max-width: 100%;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 20px;
      align-items: center;
    }
  }
  &__item-icon {
    position: relative;
    flex: 0 0 48px;
    max-width: 48px;
    width: 100%;
    height: 48px;
    border-radius: 50%;
    background: $yellow;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include response(1200px) {
      flex: 0 0 40px;
      max-width: 40px;
      height: 40px;
      margin-right: 16px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  &__item-box {
    position: relative;
  }
  &__item-title {
    position: relative;
    margin-bottom: 12px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    @include response(1200px) {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 22px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-text {
    position: relative;
    color: #eee;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    @include response(1200px) {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }
  &__btn-box {
    text-align: center;
    position: relative;
  }
  &__btn {
    min-width: 320px;
  }
}
