.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;
  color: #313131;
  text-align: center;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  border-radius: 64px;
  border: 1px solid $yellow;
  padding: 12px 23px;
  transition: 0.3s ease-in-out;
  @include desktop-hover() {
    background: $yellow;
  }
  svg {
    flex: 0 0 auto;
    margin-left: 12px;
    transition: .3s ease-in-out;
  }
  &--yellow {
    background: $yellow;
    @include desktop-hover() {
      background: #313131;
      border-color: #313131;
      color: $yellow;
      svg {
        fill: $yellow;
      }
    }
  }
  &--white {
    color: #fff;
    @include desktop-hover() {
      background: $yellow;
      color: #313131;
    }
  }
}
