.experience {
  position: relative;
  padding-top: 88px;
  @include response(1200px) {
    padding-top: 32px;
  }
  &__head {
    position: relative;
    margin-bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include response(1200px) {
      margin-bottom: 20px;
      display: block;
    }
  }
  &__title {
    position: relative;
    margin: 0;
    color: #111;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;
    @include response(1200px) {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 700;
    }
  }
  &__btns {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__btn {
    min-width: 196px;
    margin-left: 24px;
    @include response(1200px) {
      min-width: auto;
      margin-left: 0;
      margin-right: 20px;
    }
  }
  &__text {
    position: relative;
    padding-left: 48px;
    color: #313131;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    border-left: 8px solid #e1e1e1;
    margin-bottom: 48px;
    @include response(1200px) {
      border-width: 4px;
      padding-left: 20px;
      font-size: 14px;
      line-height: 22px;
    }
    p {
      margin: 0;
    }
  }
}
