.full-service {
  position: relative;
  &__head {
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    align-items: center;
    @include response(1200px) {
      display: block;
      padding-top: 0;
      padding-bottom: 40px;
    }
  }
  &__head-title {
    color: #111;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;
    margin: 0;
    position: relative;
    max-width: 440px;
    flex: 0 0 440px;
    margin-right: 110px;
    @include response(1200px) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 700;
    }
  }
  &__head-text {
    position: relative;
    flex: 1 1 auto;
    color: #313131;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 40px;
    border-left: 8px solid $yellow;
    @include response(1200px) {
      font-size: 14px;
      line-height: 22px;
      padding-left: 16px;
      border-width: 4px;
    }
    p {
      margin: 0;
    }
  }
  &__box {
    position: relative;
    display: flex;
    align-items: flex-start;
    @include response(1200px) {
      display: block;
    }
  }
  &__nav {
    position: relative;
    flex: 0 0 306px;
    max-width: 306px;
    width: 100%;
    margin-right: 24px;
    padding-top: 24px;
    @include response(1200px) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 28px;
      padding-top: 0;
    }
  }
  &__nav-list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    @include response(1200px) {
      padding-left: 16px;
      padding-right: 16px;
      margin-left: -16px;
      margin-right: -16px;
      display: flex;
      overflow-x: auto;
    }
    li {
      position: relative;
      margin-bottom: 24px;
      @include response(1200px) {
        flex: 0 0 auto;
        margin-bottom: 0;
        margin-right: 12px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      display: block;
      text-decoration: none;
      padding-top: 16px;
      padding-bottom: 16px;
      color: #898989;
      font-size: 24px;
      font-weight: 700;
      line-height: normal;
      border-left: 3px solid transparent;
      transition: 0.3s ease-in-out;
      @include response(1200px) {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        padding: 8px 4px 6px;
        border-bottom: 2px solid transparent;
        border-left: 0;
      }
      @include desktop-hover() {
        color: $yellow;
      }
      &.active {
        color: $yellow;
        padding-left: 17px;
        border-color: $yellow;
        @include response(1200px) {
          padding-left: 4px;
        }
      }
    }
  }
  &__options {
    position: relative;
    margin-right: -72px;
    border-left: 1px solid $yellow;
    @include response(1200px) {
      margin-right: 0;
      border-left: 0;
      margin-left: -16px;
      margin-right: -16px;
    }
  }
  &__tab {
    position: relative;
  }
  &__tab-head {
    position: relative;
    padding: 40px 86px;
    min-height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include response(1200px) {
      padding: 60px 16px;
    }
  }
  &__tab-head-title {
    position: relative;
    margin: 0 0 12px;
    color: #111;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    @include response(1200px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__tab-head-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__tab-head-text {
    position: relative;
    margin: 0 0 24px;
    color: #313131;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    max-width: 550px;
    @include response(1200px) {
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      padding-right: 90px;
    }
    p {
      margin: 0;
    }
  }
  &__tab-head-btn {
    position: relative;
  }
  &__tab-body {
    position: relative;
    padding: 40px 158px 29px 86px;
    @include response(1200px) {
      padding: 20px 16px;
    }
  }
  &__tab-body-item {
    position: relative;
    margin-bottom: 40px;
    @include response(1200px) {
      margin-bottom: 20px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__tab-body-item-title {
    margin: 0 0 12px;
    position: relative;
    color: #313131;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    @include response(1200px) {
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__tab-body-item-text {
    position: relative;
    color: #626262;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    @include response(1200px) {
      font-size: 14px;
      line-height: 22px;
    }
    p {
      margin: 0;
    }
  }
}
