.info {
  position: relative;
  padding-top: 85px;
  padding-bottom: 85px;
  @include response(1200px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__text {
    color: #313131;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    padding-left: 40px;
    border-left: 8px solid $yellow;
    max-width: 966px;
    width: 100%;
    margin-left: 110px;
    @include response(1200px) {
      margin-left: 0;
      max-width: 100%;
      font-size: 16px;
      font-weight: 500;
      line-height: 26.5px;
      border-width: 4px;
      padding-left: 16px;
    }
    p {
      margin: 0;
    }
  }
}
