.portfolio {
  position: relative;
  padding-top: 88px;
  padding-bottom: 50px;
  @include response(1200px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  &__head {
    position: relative;
    margin-bottom: 68px;
    display: flex;
    @include response(1200px) {
      display: block;
      margin-bottom: 20px;
    }
  }
  &__title {
    position: relative;
    flex: 0 0 416px;
    max-width: 416px;
    width: 100%;
    margin: 0 24px 0 0;
    color: #111;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;
    @include response(1200px) {
      max-width: 100%;
      font-size: 24px;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 12px;
    }
  }
  &__text {
    position: relative;
    flex: 1 1 auto;
    color: #313131;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 40px;
    border-left: 8px solid $yellow;
    @include response(1200px) {
      padding-left: 16px;
      border-width: 4px;
      font-size: 14px;
      line-height: 22px;
    }
    p {
      margin: 0;
    }
  }
  &__slider {
    position: relative;
    @include response(1200px) {
      display: flex;
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
      overflow-x: auto;
    }
    .slick-arrow {
      position: absolute;
      z-index: 1;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid #111;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      top: 50%;
      margin-top: -24px;
      transition: 0.3s ease-in-out;
      @include desktop-hover() {
        background: $yellow;
        border-color: $yellow;
      }
      svg {
        fill: #111;
      }
      &.slick-next {
        right: -24px;
        svg {
          transform: scaleX(-1);
        }
      }
      &.slick-prev {
        left: -24px;
      }
    }
  }
  &__slider-item {
    position: relative;
    display: flex !important;
    height: 492px;
    @include response(1200px) {
      flex: 0 0 auto;
      height: 237px;
      margin-right: 12px;
    }
  }
  &__slider-item-big {
    position: relative;
    flex: 0 0 calc(68% - 24px);
    max-width: calc(68% - 24px);
    width: 100%;
    margin-right: 24px;
    text-decoration: none;
    @include response(1200px) {
      flex: 0 0 254px;
      max-width: 254px;
      margin-right: 12px;
    }
    @include desktop-hover() {
      .portfolio__slider-item-link {
        opacity: 1;
        visibility: visible;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__slider-item-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.83%, #000 93.23%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 32px;
    @include response(1200px) {
      padding: 24px 12px;
    }
  }
  &__slider-item-title {
    position: relative;
    color: #f7f7f7;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
    transition: 0.3s ease-in-out;
    @include response(1200px) {
      margin-bottom: 4px;
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__slider-item-text {
    position: relative;
    color: #898989;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    @include response(1200px) {
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
    }
  }
  &__slider-item-small {
    position: relative;
    flex: 0 0 32%;
    max-width: 32%;
    width: 100%;
    text-decoration: none;
    @include response(1200px) {
      flex: 0 0 166px;
      max-width: 166px;
    }
    @include desktop-hover() {
      .portfolio__slider-item-link {
        opacity: 1;
        visibility: visible;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &--last {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include desktop-hover() {
        .portfolio__slider-item-small-link {
          text-decoration: underline;
        }
      }
    }
  }
  &__slider-item-small-title {
    position: relative;
    margin-bottom: 12px;
    color: #1d1d1d;
    font-size: 24px;
    font-weight: 700;
    @include response(1200px) {
      font-size: 16px;
    }
  }
  &__slider-item-small-link {
    color: #d2b26c;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    @include response(1200px) {
      font-size: 12px;
    }
    svg {
      flex: 0 0 auto;
      margin-left: 12px;
    }
  }
  &__slider-item-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  &__slider-item-link-icon {
    margin-bottom: 2px;
    @include response(1200px) {
      width: 16px;
      height: 16px;
    }
  }
  &__slider-item-link-text {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
    @include response(1200px) {
      font-size: 9px;
      font-weight: 400;
      line-height: normal;
    }
  }
}
