.service {
  position: relative;
  &__main {
    position: relative;
    padding-top: 40px;
  }
  &__main-head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 32px;
  }
  &__main-title {
    position: relative;
    margin: 0;
    color: #313131;
    font-size: 56px;
    font-weight: 800;
    margin-right: 32px;
    line-height: normal;
  }
  &__main-text {
    position: relative;
    border-left: 8px solid $yellow;
    padding-left: 32px;
    color: #626262;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    flex: 0 0 600px;
    max-width: 600px;
    width: 100%;
    p {
      margin: 0;
    }
  }
  &__main-btns {
    position: relative;
    display: flex;
  }
  &__main-btn {
    min-width: 196px;
    margin-right: 40px;
    position: relative;
    z-index: 1;
  }
  &__main-img {
    position: relative;
    img {
      width: 100%;
    }
  }
  &__main-descriptions {
    position: relative;
    max-width: 966px;
    width: 100%;
    margin: 88px auto;
    padding-left: 48px;
    border-left: 8px solid $yellow;
    color: #4f4f4f;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    p {
      margin: 0;
    }
  }
}
