.service {
  position: relative;
  &__main {
    position: relative;
    padding-top: 40px;
    @include response(1200px) {
      padding-top: 32px;
    }
  }
  &__main-head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 32px;
    @include response(1200px) {
      margin-bottom: 20px;
      display: block;
    }
  }
  &__main-title {
    position: relative;
    margin: 0;
    color: #313131;
    font-size: 56px;
    font-weight: 800;
    margin-right: 32px;
    line-height: normal;
    @include response(1200px) {
      font-size: 28px;
      line-height: 36px;
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
  &__main-text {
    position: relative;
    border-left: 8px solid $yellow;
    padding-left: 32px;
    color: #626262;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    flex: 0 0 600px;
    max-width: 600px;
    width: 100%;
    @include response(1200px) {
      max-width: 100%;
      padding-left: 20px;
      border-width: 4px;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
    p {
      margin: 0;
    }
  }
  &__main-btns {
    position: relative;
    display: flex;
  }
  &__main-btn {
    min-width: 196px;
    margin-right: 40px;
    position: relative;
    z-index: 1;
    &:last-child {
      margin-right: 0;
    }
    @include response(1200px) {
      min-width: auto;
      margin-right: 20px;
    }
  }
  &__main-img {
    position: relative;
    @include response(1200px) {
      margin-top: 0 !important;
    }
    img {
      width: 100%;
    }
  }
  &__main-descriptions {
    position: relative;
    max-width: 966px;
    width: 100%;
    margin: 88px auto;
    padding-left: 48px;
    border-left: 8px solid $yellow;
    color: #4f4f4f;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    @include response(1200px) {
      margin-top: 48px;
      margin-bottom: 48px;
      border-width: 4px;
      font-size: 14px;
      line-height: 22px;
      padding-left: 24px;
    }
    p {
      margin: 0;
    }
  }
}
