.social {
  list-style: none;
  padding: 0;
  margin: 34px 0 0;
  display: flex;
  align-items: center;
  @include response(1200px) {
    margin-top: 22px;
  }
  li {
    flex: 0 0 auto;
    margin-right: 24px;
    @include response(1200px) {
      margin-right: 12px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    position: relative;
    display: flex;
    transition: 0.2s ease-in-out;
    @include desktop-hover() {
      transform: translateY(-2px);
      svg {
        fill: $yellow;
      }
    }
    svg {
      fill: #aaa;
      transition: 0.3s ease-in-out;
    }
  }
  &--mobile-small {
    margin-top: 14px;
    a {
      svg {
        @include response(1200px) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
