.text-content {
  position: relative;
  color: #111;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  hr {
    border-color: #e1e1e1;
    border-top: 0;
    margin-top: 0;
  }
  p {
    margin: 10px 0 12px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  ol {
    list-style: none;
    padding: 0;
    counter-reset: myCounter;
    margin: 10px 0 12px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    li {
      margin-bottom: 15px;
      position: relative;
      padding-left: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        counter-increment: myCounter;
        content: counter(myCounter) " -";
        position: absolute;
        left: 0;
        top: 1px;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        color: $yellow;
      }
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 12px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    li {
      margin-bottom: 10px;
      position: relative;
      padding-left: 30px;
      &::before {
        content: "";
        position: absolute;
        left: 4px;
        top: 10px;
        width: 10px;
        height: 10px;
        background: $yellow;
        border-radius: 50%;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  iframe {
    border: 0;
    max-width: 100%;
    vertical-align: top;
    margin: 0 0 24px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    @include response(767px) {
      width: 100%;
      height: 300px;
    }
  }
  h1 {
    color: #313131;
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 24px;
    &:first-child {
      margin-top: 0;
    }
  }
  h2 {
    color: #313131;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 24px;
    &:first-child {
      margin-top: 0;
    }
  }
  h3 {
    color: #313131;
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 24px;
    &:first-child {
      margin-top: 0;
    }
  }
  img {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 8px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: $yellow;
    text-decoration: none;
    @include desktop-hover() {
      text-decoration: underline;
    }
  }
  table {
    margin: 0 0 8px;
    border-collapse: collapse;
    &:last-child {
      margin-bottom: 0;
    }
    thead {
      tr {
        td {
          background: #313131;
          color: #fff;
          text-align: center;
          border-right-color: #626262;
          &:first-child {
            border-start-start-radius: 4px;
            border-left: 0;
          }
          &:last-child {
            border-start-end-radius: 4px;
            border-right: 0;
          }
        }
      }
    }
    tr {
      &:last-child {
        border-bottom: 1px solid #e1e1e1;
      }
      &:nth-child(odd) {
        background: #f7f7f7;
      }
    }
    td {
      border-right: 1px solid #e1e1e1;
      padding: 8px;
      font-size: 16px;
      font-weight: 500;
      line-height: 26.5px;
      &:first-child {
        border-left: 1px solid #e1e1e1;
      }
    }
  }
  .descriptions {
    display: block;
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}
