<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="first-box">
        <picture class="first-box__bg">
          <source srcset="data/blog-mobile.jpg" media="(max-width: 1200px)">
          <img src="data/blog.jpg" width="1440" height="540" alt="blog">
        </picture>
        <div class="first-box__container container">
          <h1 class="first-box__title">Blog</h1>
          <div class="first-box__info">
            <div class="first-box__text">
              <p>Although there are many advantages to a custom-built home. Building one won’t be without challenges. Providing all your needs, our team is ready to do it all, starting from real estate consulting all the way until the setup of a couch in your living room.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="blog">
        <div class="container">
          <div class="blog__list">
            <div class="blog__item">
              <a href="#" class="blog__item-img">
                <img src="data/blog-1.jpg" width="416" height="234" alt="blog">
              </a>
              <div class="blog__item-box">
                <div class="blog__item-date">Jun 08, 2023</div>
                <a href="#" class="blog__item-title" title="How To Choose A Home Builder? Lorem dolores de ipsum amen nimus">How To Choose A Home Builder? Lorem dolores de ipsum amen nimus</a>
              </div>
            </div>
            <div class="blog__item">
              <a href="#" class="blog__item-img">
                <img src="data/blog-2.jpg" width="416" height="234" alt="blog">
              </a>
              <div class="blog__item-box">
                <div class="blog__item-date">Jun 08, 2023</div>
                <a href="#" class="blog__item-title" title="How To Choose A Home Builder?">How To Choose A Home Builder?</a>
              </div>
            </div>
            <div class="blog__item">
              <a href="#" class="blog__item-img">
                <img src="data/blog-3.jpg" width="416" height="234" alt="blog">
              </a>
              <div class="blog__item-box">
                <div class="blog__item-date">Jun 08, 2023</div>
                <a href="#" class="blog__item-title" title="How To Choose A Home Builder? Lorem dolores de ipsum amen nimus">How To Choose A Home Builder? Lorem dolores de ipsum amen nimus</a>
              </div>
            </div>
            <div class="blog__item">
              <a href="#" class="blog__item-img">
                <img src="data/blog-1.jpg" width="416" height="234" alt="blog">
              </a>
              <div class="blog__item-box">
                <div class="blog__item-date">Jun 08, 2023</div>
                <a href="#" class="blog__item-title" title="How To Choose A Home Builder? Lorem dolores de ipsum amen nimus">How To Choose A Home Builder? Lorem dolores de ipsum amen nimus</a>
              </div>
            </div>
            <div class="blog__item">
              <a href="#" class="blog__item-img">
                <img src="data/blog-2.jpg" width="416" height="234" alt="blog">
              </a>
              <div class="blog__item-box">
                <div class="blog__item-date">Jun 08, 2023</div>
                <a href="#" class="blog__item-title" title="How To Choose A Home Builder?">How To Choose A Home Builder?</a>
              </div>
            </div>
            <div class="blog__item">
              <a href="#" class="blog__item-img">
                <img src="data/blog-3.jpg" width="416" height="234" alt="blog">
              </a>
              <div class="blog__item-box">
                <div class="blog__item-date">Jun 08, 2023</div>
                <a href="#" class="blog__item-title" title="How To Choose A Home Builder? Lorem dolores de ipsum amen nimus">How To Choose A Home Builder? Lorem dolores de ipsum amen nimus</a>
              </div>
            </div>
            <div class="blog__item">
              <a href="#" class="blog__item-img">
                <img src="data/blog-1.jpg" width="416" height="234" alt="blog">
              </a>
              <div class="blog__item-box">
                <div class="blog__item-date">Jun 08, 2023</div>
                <a href="#" class="blog__item-title" title="How To Choose A Home Builder? Lorem dolores de ipsum amen nimus">How To Choose A Home Builder? Lorem dolores de ipsum amen nimus</a>
              </div>
            </div>
            <div class="blog__item">
              <a href="#" class="blog__item-img">
                <img src="data/blog-2.jpg" width="416" height="234" alt="blog">
              </a>
              <div class="blog__item-box">
                <div class="blog__item-date">Jun 08, 2023</div>
                <a href="#" class="blog__item-title" title="How To Choose A Home Builder?">How To Choose A Home Builder?</a>
              </div>
            </div>
            <div class="blog__item">
              <a href="#" class="blog__item-img">
                <img src="data/blog-3.jpg" width="416" height="234" alt="blog">
              </a>
              <div class="blog__item-box">
                <div class="blog__item-date">Jun 08, 2023</div>
                <a href="#" class="blog__item-title" title="How To Choose A Home Builder? Lorem dolores de ipsum amen nimus">How To Choose A Home Builder? Lorem dolores de ipsum amen nimus</a>
              </div>
            </div>
          </div>
          <ul class="pagination">
            <li class="pagination__first disabled"><a href="#">Previous</a></li>
            <li class="pagination__current"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><span>...</span></li>
            <li><a href="#">50</a></li>
            <li class="pagination__last"><a href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>