<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="service">
        <div class="container">
          <div class="service__main">
            <div class="service__main-head">
              <h1 class="service__main-title">Commercial Renovation and Remodeling</h1>
              <div class="service__main-text">
                <p>Transform your commercial spaces with our specialized remodeling and renovation services tailored for businesses in Philadelphia, Pennsylvania.</p>
              </div>
            </div>
            <div class="service__main-btns">
              <a href="#" class="service__main-btn btn btn--yellow">Request A Quote</a>
              <a href="#" class="service__main-btn btn">View Portfolio</a>
            </div>
            <div class="service__main-img" style="margin-top: -100px;">
              <img src="data/Renovation.png" width="1296" height="648" alt="Renovation">
            </div>
          </div>
          <div class="service__main-descriptions">
            <p>Commercial renovation and remodeling is an investment as it not only updates your space to align with your brand, ensures optimal functionality to increase productivity, and creates a professional look that inspires confidence in both employees and clients.</p>
          </div>
        </div>
      </div>
      <div class="benefits">
        <div class="container">
          <div class="benefits__box">
            <div class="benefits__title">Key Benefits</div>
            <div class="benefits__list">
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Workspace-solutions.svg" width="28" height="28" alt="Workspace-solutions">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Workspace solutions</div>
                  <div class="benefits__item-text">Commercial construction projects tailored to workspace and business needs.</div>
                </div>
              </div>
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Property-transformation.svg" width="28" height="28" alt="Property-transformation">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Property transformation</div>
                  <div class="benefits__item-text">Improves functionality, value, and aesthetics commercial property.</div>
                </div>
              </div>
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Construction-experts.svg" width="28" height="28" alt="Construction-experts">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Construction experts</div>
                  <div class="benefits__item-text">Experienced team in construction management and commercial projects</div>
                </div>
              </div>
            </div>
            <div class="benefits__btn-box">
              <a href="#" class="benefits__btn btn btn--white">Request A Quote</a>
            </div>
          </div>
        </div>
      </div>
      <div class="process">
        <div class="container">
          <div class="process__head">
            <h2 class="process__title">Our Process</h2>
            <div class="process__descriptions">
              <p>Our approach to commercial remodeling aligns aesthetics with functionality to achieve a balance between form and function. Backed with an experienced team in high quality commercial construction and project management, we cater to both existing and new constructions.</p>
            </div>
          </div>
          <div class="process__info">
            <picture class="process__info-img">
              <source srcset="data/process-4-mobile.jpg" media="(max-width: 1200px)">
              <img src="data/process-4.jpg" width="378" height="840" alt="img">
            </picture>
            <div class="process__list">
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Initial-Consultation.svg" width="32" height="32" alt="Initial-Consultation">
                </div>
                <div class="process__item-title">Initial Consultation</div>
                <div class="process__item-text">
                  <p>Each commercial project is unique. To help you achieve your goals and preferences in terms of design, our entire team sits in during the initial consultation to give you the time and attention you deserve. Done right, these projects deliver high ROI while improving property value. </p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Site-Assessment.svg" width="32" height="32" alt="Site-Assessment">
                </div>
                <div class="process__item-title">Site Assessment</div>
                <div class="process__item-text">
                  <p>Site assessment includes going through specifications such as the Certificate of Occupancy; accessing building permits and records; reviewing potential structural, electrical, plumbing issues; and more. This gives us an idea of what needs to be done and how best to do it.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Design-Planning.svg" width="32" height="32" alt="Design-Planning">
                </div>
                <div class="process__item-title">Design and Planning</div>
                <div class="process__item-text">
                  <p>Considering your goals and the site, our team starts planning the design and materials to be used, ensuring that the remodeled or renovated space flows well, is aesthetically pleasing, and improves functionality. Using 3D visualization, you will be able to imagine the outcome better. </p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Execution.svg" width="32" height="32" alt="Execution">
                </div>
                <div class="process__item-title">Execution</div>
                <div class="process__item-text">
                  <p>After agreeing on the design and materials to be used, our comprehensive building team of experienced general contractors and subcontractors who function well as a unit starts remodeling or renovating the space to ensure you meet your goals and deadline. </p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Quality-Check-Handover.svg" width="32" height="32" alt="Quality-Check-Handover">
                </div>
                <div class="process__item-title">Final Walkthrough and Handover</div>
                <div class="process__item-text">
                  <p>After everything has been completed according to plan, we go through a final reveal to discuss the results and to see if there are any finishing touches required before the handover. Our team diligently follows up with all our clients to make sure that there are no issues or concerns.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="experience">
        <div class="container">
          <div class="experience__head">
            <h2 class="experience__title">Experience</h2>
            <div class="experience__btns">
              <a href="#" class="experience__btn btn btn--yellow">Request A Quote</a>
              <a href="#" class="experience__btn btn">View Portfolio</a>
            </div>
          </div>
          <div class="experience__text">
            <p>Our team with years of experience in commercial construction services, we've transformed countless spaces, ranging from family owned restaurants, healthcare centers, high end retail stores, offices, and many more.</p>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="container">
          <div class="project__row">
            <div class="project__row-big">
              <img src="data/project-1.jpg" width="856" height="481" alt="project">
            </div>
            <div class="project__row-small">
              <img src="data/project-2.jpg" width="416" height="481" alt="project">
            </div>
          </div>
          <div class="project__row">
            <div class="project__row-big">
              <img src="data/project-4.jpg" width="856" height="481" alt="project">
            </div>
            <div class="project__row-small">
              <img src="data/project-3.jpg" width="416" height="481" alt="project">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>