<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="service">
        <div class="container">
          <div class="service__main">
            <div class="service__main-head">
              <h1 class="service__main-title">Construction Management Services</h1>
              <div class="service__main-text">
                <p>Oversee your construction projects with precision and expertise, ensuring timely and efficient completion.</p>
              </div>
            </div>
            <div class="service__main-btns">
              <a href="#" class="service__main-btn btn btn--yellow">Request A Quote</a>
              <a href="#" class="service__main-btn btn">View Portfolio</a>
            </div>
            <div class="service__main-img" style="margin-top: -110px;">
              <img src="data/Management.png" width="1296" height="648" alt="Management">
            </div>
          </div>
          <div class="service__main-descriptions">
            <p>Skywide’s construction management team in Philadelphia, Pennsylvania has years of experience in overseeing the planning, cost, design, construction, and closeout of a project. Be it a residential or commercial construction, we ensure that it is executed on time, within budget, and of the highest quality.</p>
          </div>
        </div>
      </div>
      <div class="benefits">
        <div class="container">
          <div class="benefits__box">
            <div class="benefits__title">Key Benefits</div>
            <div class="benefits__list">
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Seasoned-leadership.svg" width="28" height="28" alt="Seasoned-leadership">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Seasoned leadership</div>
                  <div class="benefits__item-text">Experienced management team for both old and new constructions.</div>
                </div>
              </div>
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Timely-efficiency.svg" width="28" height="28" alt="Timely-efficiency">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Timely efficiency</div>
                  <div class="benefits__item-text">Project delivery on time and within budget.</div>
                </div>
              </div>
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Clear-communication.svg" width="28" height="28" alt="Clear-communication">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Clear communication</div>
                  <div class="benefits__item-text">Effective and transparent communication.</div>
                </div>
              </div>
            </div>
            <div class="benefits__btn-box">
              <a href="#" class="benefits__btn btn btn--white">Request A Quote</a>
            </div>
          </div>
        </div>
      </div>
      <div class="process">
        <div class="container">
          <div class="process__head">
            <h2 class="process__title">Our Process</h2>
            <div class="process__descriptions">
              <p>Our construction management strategy prioritizes effective communication, meticulous planning, and rigorous monitoring to ensure that building projects run smoothly with the help of specialized techniques and software.</p>
            </div>
          </div>
          <div class="process__info">
            <picture class="process__info-img">
              <source srcset="data/process-4-mobile.jpg" media="(max-width: 1200px)">
              <img src="data/process-5.jpg" width="378" height="840" alt="img">
            </picture>
            <div class="process__list">
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Project-Planning-Initiation.svg" width="32" height="32" alt="Project-Planning-Initiation">
                </div>
                <div class="process__item-title">Project Planning & Initiation</div>
                <div class="process__item-text">
                  <p>We begin with project planning - a process that includes understanding the needs and goals of the building, determining the schematic design and developing it, considering the preconstruction schedule and contract documents involved, and ensuring that the build meets building codes and regulations.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Resource-Allocation.svg" width="32" height="32" alt="Resource-Allocation">
                </div>
                <div class="process__item-title">Resource Allocation</div>
                <div class="process__item-text">
                  <p>When allocating resources, we consider the estimated construction costs, including labor, equipment, and materials, along with soft costs. This is an integral part of cost management which involves making partial payments to general contractors and subcontractors for work completed as the project progresses.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/On-site-Project-Management.svg" width="32" height="32" alt="On-site-Project-Management">
                </div>
                <div class="process__item-title">On-site Project Management</div>
                <div class="process__item-text">
                  <p>Besides managing on-site logistics involving elements such as employee or visitor safety, parking, and construction traffic, our team also works to foster a positive environment that encourages collaboration, effective communication, and facilitating the approvals needed to keep the project going.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Project-Closur-Quality-Assurance.svg" width="32" height="32" alt="Project-Closur-Quality-Assurance">
                </div>
                <div class="process__item-title">Project Closure & Quality Assurance</div>
                <div class="process__item-text">
                  <p>Once the project is completed, occupancy of the space begins and a warranty period begins. During this stage, our team helps with project closure and quality assurance which includes ensuring that all the quality, materials, and equipment are according to expectations as stated within the terms of the contract.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="experience">
        <div class="container">
          <div class="experience__head">
            <h2 class="experience__title">Experience</h2>
            <div class="experience__btns">
              <a href="#" class="experience__btn btn btn--yellow">Request A Quote</a>
              <a href="#" class="experience__btn btn">View Portfolio</a>
            </div>
          </div>
          <div class="experience__text">
            <p>Having managed over 32 construction projects in the Philadelphia area, our diverse team of construction managers, inspectors, and engineers boasts seamless integration and continuity throughout the project, giving us an excellent track record of delivering quality work on time and within budget.</p>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="container">
          <div class="project__row">
            <div class="project__row-big">
              <img src="data/project-1.jpg" width="856" height="481" alt="project">
            </div>
            <div class="project__row-small">
              <img src="data/project-2.jpg" width="416" height="481" alt="project">
            </div>
          </div>
          <div class="project__row">
            <div class="project__row-big">
              <img src="data/project-4.jpg" width="856" height="481" alt="project">
            </div>
            <div class="project__row-small">
              <img src="data/project-3.jpg" width="416" height="481" alt="project">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>