<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="service">
        <div class="container">
          <div class="service__main">
            <div class="service__main-head">
              <h1 class="service__main-title">Full-Service Architectural Design</h1>
              <div class="service__main-text">
                <p>Craft your dream structures with our expert architectural services in the Philadelphia area.</p>
              </div>
            </div>
            <div class="service__main-btns">
              <a href="#" class="service__main-btn btn btn--yellow">Request A Quote</a>
              <a href="#" class="service__main-btn btn">View Portfolio</a>
            </div>
            <div class="service__main-img" style="margin-top: -160px;">
              <img src="data/Architectural.png" width="1296" height="648" alt="Architectural">
            </div>
          </div>
          <div class="service__main-descriptions">
            <p>Architectural design is a term that encompasses the entire process of conceptualizing a design, all the way until it becomes a fully functional structure. Emphasizing the combination of aesthetics and functionality, Skywide’s design meets both your need and vision, saving you time and ensuring you stay within budget.</p>
          </div>
        </div>
      </div>
      <div class="benefits">
        <div class="container">
          <div class="benefits__box">
            <div class="benefits__title">Key Benefits</div>
            <div class="benefits__list">
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Comprehensive-design-process.svg" width="28" height="28" alt="Comprehensive-design-process">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Comprehensive design process</div>
                </div>
              </div>
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/High-end-innovative-sustainable-designs.svg" width="28" height="28" alt="High-end-innovative-sustainable-designs">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">High end innovative and sustainable designs</div>
                </div>
              </div>
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Consultation-collaboration.svg" width="28" height="28" alt="Consultation-collaboration">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Consultation and collaboration</div>
                </div>
              </div>
            </div>
            <div class="benefits__btn-box">
              <a href="#" class="benefits__btn btn btn--white">Request A Quote</a>
            </div>
          </div>
        </div>
      </div>
      <div class="process">
        <div class="container">
          <div class="process__head">
            <h2 class="process__title">Our Process</h2>
            <div class="process__descriptions">
              <p>From interior design services to customized new constructions, our architectural designs are a blend of innovation, sustainability, and local sensibilities. Our commercial and residential projects consider the environment, client's vision, and the latest architectural trends while serving those who utilize the space involved.</p>
            </div>
          </div>
          <div class="process__info">
            <picture class="process__info-img">
              <source srcset="data/process-3-mobile.jpg" media="(max-width: 1200px)">
              <img src="data/process-3.jpg" width="378" height="840" alt="img">
            </picture>
            <div class="process__list">
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Initial-Client-Consultation.svg" width="32" height="32" alt="Initial-Client-Consultation">
                </div>
                <div class="process__item-title">Initial Client Consultation</div>
                <div class="process__item-text">
                  <p>Our process begins with an initial meeting between you and our team to ensure that we understand your goals, specifications, preferences, and budget. This step also includes going through the documents, permits, and more.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Preliminary-Design.svg" width="32" height="32" alt="Preliminary-Design">
                </div>
                <div class="process__item-title">Preliminary Design</div>
                <div class="process__item-text">
                  <p>Next, our team works with you to understand the site and structures nearby, ideas and concepts for the space, local zoning restrictions, scale, building codes, project scope, and more before coming up with a preliminary design.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Schematic-Design.svg" width="32" height="32" alt="Schematic-Design">
                </div>
                <div class="process__item-title">Schematic Design</div>
                <div class="process__item-text">
                  <p>The pre-designs are then developed into a proposal to be presented to you. It will include the ideas from pre-design along with site and floor plans, structural, electrical, plumbing systems, and more. The schematic design is updated regularly based on your feedback.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Design-Development.svg" width="32" height="32" alt="Design-Development">
                </div>
                <div class="process__item-title">Design Development</div>
                <div class="process__item-text">
                  <p>After agreeing on the schematic design, we start creating a more detailed plan that includes window and door placements, interior and exterior finishes, and more. This stage finalizes the layout, dimensions, exterior, and materials used with very minor changes going forwards.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Construction-Documents.svg" width="32" height="32" alt="Construction-Documents">
                </div>
                <div class="process__item-title">Construction Documents</div>
                <div class="process__item-text">
                  <p>Working construction documents are used by a contractor for pricing, bidding, and construction. The building permit set is delivered to the permitting authority for approval and the construction set with design details and dimensions are for the builders.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Building-Permits.svg" width="32" height="32" alt="Building-Permits">
                </div>
                <div class="process__item-title">Building Permits</div>
                <div class="process__item-text">
                  <p>The city or county will then review the building permit based on zoning laws, building codes, and structure. Approval is required before construction commences. Approval time varies depending on the size and type of project, along with specific factors such as being a historical building.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Bidding-Negotiation.svg" width="32" height="32" alt="Bidding-Negotiation">
                </div>
                <div class="process__item-title">Bidding & Negotiation</div>
                <div class="process__item-text">
                  <p>We have our own building team, but if you would like to negotiate with another contractor, we assist in finding the best fit in terms of qualifications and costs by helping with the bidding process, analyzing proposals, and bid award.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Quality-Check-Handover.svg" width="32" height="32" alt="Quality-Check-Handover">
                </div>
                <div class="process__item-title">Construction Administration</div>
                <div class="process__item-text">
                  <p>In this final phase, our architect visits your construction site regularly to deal with questions and issues that may arise. This helps to avoid any costly delays. At this point, the construction team is in-charge and this phase lasts throughout until the construction is completed.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="experience">
        <div class="container">
          <div class="experience__head">
            <h2 class="experience__title">Experience</h2>
            <div class="experience__btns">
              <a href="#" class="experience__btn btn btn--yellow">Request A Quote</a>
              <a href="#" class="experience__btn btn">View Portfolio</a>
            </div>
          </div>
          <div class="experience__text">
            <p>With some of the best architects in Philadelphia, Pennsylvania, our architectural marvels are landmarks in multiple cities, showcasing our commitment to excellence and innovation. Our team of commercial and residential architects, project managers, and building experts ensure that your project is a success.</p>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="container">
          <div class="project__row">
            <div class="project__row-big">
              <img src="data/project-1.jpg" width="856" height="481" alt="project">
            </div>
            <div class="project__row-small">
              <img src="data/project-2.jpg" width="416" height="481" alt="project">
            </div>
          </div>
          <div class="project__row">
            <div class="project__row-big">
              <img src="data/project-4.jpg" width="856" height="481" alt="project">
            </div>
            <div class="project__row-small">
              <img src="data/project-3.jpg" width="416" height="481" alt="project">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>