<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="service">
        <div class="container">
          <div class="service__main">
            <div class="service__main-head">
              <h1 class="service__main-title">Home Remodeling & Renovation</h1>
              <div class="service__main-text">
                <p>Revitalize your living spaces with our expert home improvement and remodeling solutions.</p>
              </div>
            </div>
            <div class="service__main-btns">
              <a href="#" class="service__main-btn btn btn--yellow">Request A Quote</a>
              <a href="#" class="service__main-btn btn">View Portfolio</a>
            </div>
            <div class="service__main-img" style="margin-top: -74px;">
              <img src="data/Remodeling.png" width="1296" height="546" alt="Remodeling">
            </div>
          </div>
          <div class="service__main-descriptions">
            <p>No matter if it is a whole house renovation or one room revamp, no project is too small for Skywide. From new flooring installation to home renovation projects that update your interior design, we are committed to providing beautiful designs that flow well and are highly functional.</p>
          </div>
        </div>
      </div>
      <div class="benefits">
        <div class="container">
          <div class="benefits__box">
            <div class="benefits__title">Key Benefits</div>
            <div class="benefits__list">
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Personalized-designs.svg" width="28" height="28" alt="Personalized-designs">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Personalized designs</div>
                  <div class="benefits__item-text">Personalized designs for existing homes or new constructions</div>
                </div>
              </div>
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Expert-team.svg" width="28" height="28" alt="Expert-team">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Expert team</div>
                  <div class="benefits__item-text">High-quality materials and expert team with years of experience.</div>
                </div>
              </div>
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Increasing-value.svg" width="28" height="28" alt="Increasing-value">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Increasing value</div>
                  <div class="benefits__item-text">Increasing the market value of your home</div>
                </div>
              </div>
            </div>
            <div class="benefits__btn-box">
              <a href="#" class="benefits__btn btn btn--white">Request A Quote</a>
            </div>
          </div>
        </div>
      </div>
      <div class="process">
        <div class="container">
          <div class="process__head">
            <h2 class="process__title">Our Process</h2>
            <div class="process__descriptions">
              <p>Home renovation is personal. If you are already living in your dream home in the Philadelphia area, Skywide’s full services also include home additions and home repairs. With the uniqueness of each home in mind, we do an excellent job at capturing the essence of the residents and the home’s history. </p>
            </div>
          </div>
          <div class="process__info">
            <picture class="process__info-img">
              <source srcset="data/process-1-mobile.jpg" media="(max-width: 1200px)">
              <img src="data/process-1.jpg" width="378" height="840" alt="img">
            </picture>
            <div class="process__list">
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Meeting-Home-Evaluation.svg" width="32" height="32" alt="Meeting-Home-Evaluation">
                </div>
                <div class="process__item-title">Meeting & Home Evaluation</div>
                <div class="process__item-text">
                  <p>Our process begins with a meeting and home evaluation, understanding your needs, preferences, and the space involved. Sitting down with our team to help us understand your vision is immensely helpful in making your dreams a reality.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Conceptual-Design.svg" width="32" height="32" alt="Conceptual-Design">
                </div>
                <div class="process__item-title">Conceptual Design</div>
                <div class="process__item-text">
                  <p>After the meeting and evaluation, we then provide a conceptual design to ensure it all flows seamlessly and functions better to fit your needs. This step also helps you to envision the remodeled space better.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Material-Selection.svg" width="32" height="32" alt="Material-Selection">
                </div>
                <div class="process__item-title">Material Selection</div>
                <div class="process__item-text">
                  <p>Material selection is a crucial step as it affects the budget and determines how the entire design comes together to feel complete and coherent. For example, the materials needed for a master bath or kitchen remodeling project would be vastly different. </p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Renovation-Remodeling.svg" width="32" height="32" alt="Renovation-Remodeling">
                </div>
                <div class="process__item-title">Renovation & Remodeling</div>
                <div class="process__item-text">
                  <p>After reaching an agreement on the conceptual design and materials to be used in the remodeling project , our team of general contractors, handymen, craftsmen, and electricians get to work to bring your vision to life.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Quality-Check-Handover.svg" width="32" height="32" alt="Quality-Check-Handover">
                </div>
                <div class="process__item-title">Quality Check & Handover</div>
                <div class="process__item-text">
                  <p>Once completed, there is the final reveal, quality check, and handover. Our team stays ready and follows up regularly to ensure that you are satisfied with the aesthetics, flow, and functionality of the design.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="experience">
        <div class="container">
          <div class="experience__head">
            <h2 class="experience__title">Experience</h2>
            <div class="experience__btns">
              <a href="#" class="experience__btn btn btn--yellow">Request A Quote</a>
              <a href="#" class="experience__btn btn">View Portfolio</a>
            </div>
          </div>
          <div class="experience__text">
            <p>Having renovated over 30 Philadelphia homes in Pennsylvania, we understand the intricacies of various architectural styles and homeowner preferences. From bathroom renovations, basement remodeling, to countertop and cabinetry installations, we offer the best craftsmanship with high rates of customer satisfaction.</p>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="container">
          <div class="project__row">
            <div class="project__row-big">
              <img src="data/project-1.jpg" width="856" height="481" alt="project">
            </div>
            <div class="project__row-small">
              <img src="data/project-2.jpg" width="416" height="481" alt="project">
            </div>
          </div>
          <div class="project__row">
            <div class="project__row-big">
              <img src="data/project-4.jpg" width="856" height="481" alt="project">
            </div>
            <div class="project__row-small">
              <img src="data/project-3.jpg" width="416" height="481" alt="project">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>