<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body class="home">
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="first-screen">
        <div class="container">
          <h1 class="first-screen__title">Skywide - Your Custom Home Builders in Philadelphia</h1>
          <div class="first-screen__btns">
            <a href="#" class="first-screen__btn-1 btn btn--yellow">Request A Quote</a>
            <a href="#" class="first-screen__btn-2 btn">Check Portfolio</a>
          </div>
        </div>
        <img class="first-screen__img" src="data/main.png" width="1440" height="694" alt="main-img">
      </div>
      <div class="info">
        <div class="container">
          <div class="info__text">
            <p>Why buy a home when you can custom build your dream abode? At Skywide, we make it a point to listen and strive to incorporate all the features and customizations you want, so you can truly call it your own.</p>
          </div>
        </div>
      </div>
      <div class="choice">
        <div class="container">
          
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>