<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="service">
        <div class="container">
          <div class="service__main">
            <div class="service__main-head">
              <h1 class="service__main-title">Interior Design Services</h1>
              <div class="service__main-text">
                <p>Bring your vision to life with our innovative and personalized interior design services.</p>
              </div>
            </div>
            <div class="service__main-btns">
              <a href="#" class="service__main-btn btn btn--yellow">Request A Quote</a>
              <a href="#" class="service__main-btn btn">View Portfolio</a>
            </div>
            <div class="service__main-img" style="margin-top: -26px;">
              <img src="data/Interior.png" width="1296" height="501" alt="Interior">
            </div>
          </div>
          <div class="service__main-descriptions">
            <p>Updating your interior design for an existing residence, new home, or any other venue can be overwhelming. Despite these challenges, interior designs improve the flow and functionality of each room, and increase the market value. These renovations not only improve aesthetics, but also boosts mental and physical health.</p>
          </div>
        </div>
      </div>
      <div class="benefits">
        <div class="container">
          <div class="benefits__box">
            <div class="benefits__title">Key Benefits</div>
            <div class="benefits__list">
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Customize-design-solutions.svg" width="28" height="28" alt="Customize-design-solutions">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Customize design solutions</div>
                </div>
              </div>
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Expert-designers-consultants.svg" width="28" height="28" alt="Expert-designers-consultants">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Expert designers & consultants</div>
                </div>
              </div>
              <div class="benefits__item">
                <div class="benefits__item-icon">
                  <img src="data/Functional-aesthetic-spaces.svg" width="28" height="28" alt="Functional-aesthetic-spaces">
                </div>
                <div class="benefits__item-box">
                  <div class="benefits__item-title">Functional & aesthetic spaces</div>
                </div>
              </div>
            </div>
            <div class="benefits__btn-box">
              <a href="#" class="benefits__btn btn btn--white">Request A Quote</a>
            </div>
          </div>
        </div>
      </div>
      <div class="process">
        <div class="container">
          <div class="process__head">
            <h2 class="process__title">Our Process</h2>
            <div class="process__descriptions">
              <p>Marrying aesthetics and functionality, Skywide services the Philadelphia area in Pennsylvania to design beautiful and practical spaces. Our team of the best interior designers and interior decorators experienced in project management believes in a holistic approach to interior design, where every element complements the other.</p>
            </div>
          </div>
          <div class="process__info">
            <div class="process__info-img">
              <img src="data/process-2.jpg" width="378" height="840" alt="img">
            </div>
            <div class="process__list">
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Client-Briefing-Ideation.svg" width="32" height="32" alt="Client-Briefing-Ideation">
                </div>
                <div class="process__item-title">Client Briefing & Ideation</div>
                <div class="process__item-text">
                  <p>Choosing the interior design for a space is highly dependent on one’s style, preferences, and layout of the space. With a wide variety of styles like minimalist, contemporary, modern, and more, our process begins with a meeting for you to share your goals, inspiration, and budget to help us design a space you love.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Design-Visualization.svg" width="32" height="32" alt="Design-Visualization">
                </div>
                <div class="process__item-title">Design Mockups & 3D Visualization</div>
                <div class="process__item-text">
                  <p>Next, our team prepares a design mockup or 3D visualization to help you imagine your space better. This helps with space planning such as determining electrical outlet locations, placement of built in furniture, and how it works with the functionality and flow of the room, saving time and ensuring that the project stays within budget.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Material-Selection2.svg" width="32" height="32" alt="Material-Selection">
                </div>
                <div class="process__item-title">Material & Decor Selection</div>
                <div class="process__item-text">
                  <p>Our team also takes additional time to finalize the material and décor selection you desire for your space. These elements that accentuate the overall design, add functionality, and cover up structural components determine how the design comes together so it feels coherent and complete.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Full-Service-Installation.svg" width="32" height="32" alt="Full-Service-Installation">
                </div>
                <div class="process__item-title">Full-Service Installation</div>
                <div class="process__item-text">
                  <p>Installation Day can be both exciting and overwhelming, the final stage of turning dreams into reality. Despite the organized chaos, our installation team with years of experience ensures that everything is well planned and executed, right down to unrolling the area rug, ready for your arrival.</p>
                </div>
              </div>
              <div class="process__item">
                <div class="process__item-icon">
                  <img src="data/Quality-Check-Handover.svg" width="32" height="32" alt="Quality-Check-Handover">
                </div>
                <div class="process__item-title">Final Reveal</div>
                <div class="process__item-text">
                  <p>Any interior design project is both an emotional and financial investment. After the final reveal, our team follows up to ensure that all the changes are to your satisfaction.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="experience">
        <div class="container">
          <div class="experience__head">
            <h2 class="experience__title">Experience</h2>
            <div class="experience__btns">
              <a href="#" class="experience__btn btn btn--yellow">Request A Quote</a>
              <a href="#" class="experience__btn btn">View Portfolio</a>
            </div>
          </div>
          <div class="experience__text">
            <p>Our award-winning designer has been featured in top design magazines, reflecting our expertise and innovation. Check out our unique interior designs and high end design studio on our social media page!</p>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="container">
          <div class="project__row">
            <div class="project__row-big">
              <img src="data/project-1.jpg" width="856" height="481" alt="project">
            </div>
            <div class="project__row-small">
              <img src="data/project-2.jpg" width="416" height="481" alt="project">
            </div>
          </div>
          <div class="project__row">
            <div class="project__row-big">
              <img src="data/project-4.jpg" width="856" height="481" alt="project">
            </div>
            <div class="project__row-small">
              <img src="data/project-3.jpg" width="416" height="481" alt="project">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>