<div class="faq">
  <div class="container">
    <div class="faq__title">FAQ</div>
    <div class="faq__list">
      <div class="faq__item">
        <div class="faq__head">
          <div class="faq__item-title">How to oil the blade to prevent rust ?</div>
          <div class="faq__item-btn"></div>
        </div>
        <div class="faq__item-body">
          <div class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet diam ac libero porta euismod. Mauris congue dignissim luctus. Nunc congue pretium odio, sit amet molestie nisl posuere nec. Quisque non lorem id augue maximus tempor.</div>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__head">
          <div class="faq__item-title">How to oil the blade to prevent rust ?</div>
          <div class="faq__item-btn"></div>
        </div>
        <div class="faq__item-body">
          <div class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet diam ac libero porta euismod. Mauris congue dignissim luctus. Nunc congue pretium odio, sit amet molestie nisl posuere nec. Quisque non lorem id augue maximus tempor.</div>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__head">
          <div class="faq__item-title">How to oil the blade to prevent rust ?</div>
          <div class="faq__item-btn"></div>
        </div>
        <div class="faq__item-body">
          <div class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet diam ac libero porta euismod. Mauris congue dignissim luctus. Nunc congue pretium odio, sit amet molestie nisl posuere nec. Quisque non lorem id augue maximus tempor.</div>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__head">
          <div class="faq__item-title">How to oil the blade to prevent rust ?</div>
          <div class="faq__item-btn"></div>
        </div>
        <div class="faq__item-body">
          <div class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet diam ac libero porta euismod. Mauris congue dignissim luctus. Nunc congue pretium odio, sit amet molestie nisl posuere nec. Quisque non lorem id augue maximus tempor.</div>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__head">
          <div class="faq__item-title">How to oil the blade to prevent rust ?</div>
          <div class="faq__item-btn"></div>
        </div>
        <div class="faq__item-body">
          <div class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet diam ac libero porta euismod. Mauris congue dignissim luctus. Nunc congue pretium odio, sit amet molestie nisl posuere nec. Quisque non lorem id augue maximus tempor.</div>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__head">
          <div class="faq__item-title">How to oil the blade to prevent rust ?</div>
          <div class="faq__item-btn"></div>
        </div>
        <div class="faq__item-body">
          <div class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet diam ac libero porta euismod. Mauris congue dignissim luctus. Nunc congue pretium odio, sit amet molestie nisl posuere nec. Quisque non lorem id augue maximus tempor.</div>
        </div>
      </div>
    </div>
  </div>
</div>